<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>綜三二點餐系統</title>
        <link rel="stylesheet" href="{{url_for('static',filename='template.css')}}"/>
    </head>
    <body class="background">
        <h1>Select a function that you want to do</h1>
        <div class="frame">
            <a class="order" href="http://127.0.0.1:5000/order">點餐</a>
            <a class="check_order" href="http://127.0.0.1:5000/check_order">檢查餐點</a>
            <a class="manager_log_in" href="http://127.0.0.1:5000/log_in">管理者登入</a>
        </div>
    </body>
</html>