<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>order</title>
        <link rel="stylesheet" href="{{url_for('static',filename='template.css')}}">
    </head>
    <body class="background">
        <form method="POST" action="/check_order">
            <label for="phone">座號:</label><input type="text" name="phone" id="phone" class="enter"><br><br>
            <label for="option">今天我想來點 </label><select id="option" name="item">
                <option value="item1"></option>
            </select>
            <input type="submit" value="送出訂單">
        </form>
    </body>
</html>